<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Damir Pasic</h2>
            <h4>Damir@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Damir Pasic">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="ist-item-active" routerLink= "/">Dashboard</a>
    <a mat-list-item routerLinkActive="ist-item-active" routerLink= "/devices">Devices</a>
    <a mat-list-item routerLinkActive="ist-item-active" routerLink= "/">Dashboard</a>
    <div>Profile</div>

<mat-divider></mat-divider>

Menu 

<mat-divider> </mat-divider>

another menu 
</mat-nav-list>

