<div>
     <app-widget-line></app-widget-line>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-card">
    <mat-card fxFlex="33">
        <app-widget-card label="New users" total="12k" percentage="45"></app-widget-card> 
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-card label="New Leads" total="50k" percentage="65"></app-widget-card> 
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-card label="Stuff" total="bored" percentage="500"></app-widget-card>
    </mat-card>
  
    </div>

<br>

<mat-divider></mat-divider>

<br>


    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxFlex="40">Pie</div>
            <div fxFlex="60">
                <app-widget-pie></app-widget-pie>
            </div>
    </div>

<br>
<br>
<br>
